<h1>Películas</h1>
<hr>

<button class="btn btn-primary" [routerLink]="['/movie-form', 0]">Crear Nueva Película</button>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">FirTítulost</th>
        <th scope="col">Año</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor = "let movie of movies$ | async"> 
        <th scope="row">{{movie.id}}</th>
        <td>{{movie.title}}</td>
        <td>{{movie.year}}</td>
        <td><i class="bi bi-eye-fill" [routerLink]="['/movie',movie.id]"></i>
        <i class="bi bi-pencil" [routerLink]="['/movie-form',movie.id]"></i>

        <i class="bi bi-file-x-fill text-danger" (click)="deleteMovie(movie.id)"></i></td>

      </tr>

    </tbody>
  </table>