<h1>Formulario de Peliícula</h1>
<button clas="btn btn-primary" [routerLink]="'/movies'">Regresar a Peliículas</button>
<hr>

<form [formGroup]="movieForm" (ngSubmit)="onSubmit(movieForm)" action="">

    <div class="form-group">
        <label >Título</label>
        <input [ngClass]= "{'is-invalid': movieForm.get('title')?.hasError('required')}"class="form-control" type="text" formControlName="title"/>
    </div>

    <div class="form-group">
        <label >Año</label>
        <input [ngClass]= "{'is-invalid': movieForm.get('year')?.hasError('required')}"class="form-control" type="number" formControlName="year"/>
    </div>

    <div class="form-group">
        <label >Sinopsis</label>
        <input [ngClass]= "{'is-invalid': movieForm.get('synopsis')?.hasError('required')}"class="form-control" type="text" formControlName="synopsis"/>
    </div>

    <div class="form-group">
        <label >Cover</label>
        <input [ngClass]= "{'is-invalid': movieForm.get('cover')?.hasError('required')}"class="form-control" type="text" formControlName="cover"/>
    </div>

    <br/>
    
    <button class="btn btn-primary" type="submit" [disabled]="movieForm.invalid">Enviar</button>
    

</form>